<?xml version="1.0" encoding="UTF-8"?>
<!-- Don't forget to set system property
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->
<Configuration status="INFO" monitorInterval="120">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.}:%L[%t] %m%n"/>
        </Console>
        <!--%c{1.}<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/info.log" filePattern="logs/info-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>-->
    </Appenders>
    <Loggers>
        <Logger name="examples.spring" level="DEBUG"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="druid.sql" level="DEBUG"/>
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingRandomAccessFile" />-->
        </Root>
    </Loggers>
</Configuration>
